snippet btdiv 
	<div class="control-group">
		<label class="control-label">${1}</label>
		<div class="controls">
			<input type="text" name="${2}" value="${0}"/>
		</div>
	</div>

snippet btaction
	<div class="form-actions">
		<?= form_hash('${1}') ?>
		<input type="submit" class="btn btn-primary" value="保存">
		<input type="button" onclick="history.go(-1)" class="btn ml20" value="返回">
	</div>
